@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
/* @utility container{
    margin: auto;
} */

/* @theme{
--breakpoint-sm:700px;
--breakpoint-md:900px;
--breakpoint-lg:1000px;
--breakpoint-big:1300px;
--padding-10: 100px;
--padding-c-50: 50px;
--padding-wrapper:10px;
--margin-20:20px;
--height-1:100px;
--width-1:100px;
--size-100:100px
} */

/* @custom-variant dark (&:where(.dark, .dark *)); */

/* @layer components {
  .card {
    @apply p-6 bg-white rounded-xl shadow-lg text-4xl;
  }

  .card:hover {
    @apply bg-red-500;
  }

  .btn {
    @apply px-6 py-3 m-5 bg-black text-white font-semibold rounded-lg;
  }

  .btn:hover {
    @apply bg-red-500;
  }
}


@theme {
  --breakpoint-md: 768px;
}


@layer base {
  h1 {
    @apply text-5xl font-extrabold tracking-tight text-gray-900;
  }

  @media (min-width: 768px) {
    h1 {
      @apply text-2xl;
    }

    h1:hover {
    @apply text-red-500 cursor-pointer;
  }
  }
} */

/* 
@layer components{
  .btn{
       @apply bg-blue-500 rounded p-2 text-white hover:bg-blue-900

  }
} */


/* @layer components {
  .btn {
    @apply border border-slate-400 rounded px-5 py-1.5 hover:bg-slate-100
  }

  .btn-primary {
    @apply bg-blue-500 hover:bg-blue-600 text-white border-blue-500
  }

  .btn-secondary {
    @apply bg-slate-500 hover:bg-slate-600 text-white border-slate-500
  }

  .btn-Success {
    @apply bg-green-500 hover:bg-green-600 text-white border-green-500
  }

  .btn-Danger {
    @apply bg-red-500 hover:bg-red-600 text-white border-red-500
  }

  .btn-Warning {
    @apply bg-yellow-500 hover:bg-yellow-600 text-black border-yellow-500
  }

  .btn-Info {
    @apply bg-cyan-500 hover:bg-cyan-600 text-black border-cyan-500
  }

  .btn-Dark {
    @apply bg-black hover:bg-black text-white border-black
  }
} */


/* .custom-Cantainer{ */
  /* @apply bg-green-400  */
   /* margin: --spacing(4); */
/* } */


@layer components{
  .img-gallery{
    @apply hover:scale-110 transition duration-1000 hover:brightness-125 rounded
  }
}

@theme{
  --font-roboto:"Roboto Condensed", "sans-serif";
}