@import "tailwindcss";
/* @utility container{
    margin: auto;
} */

@theme{
--breakpoint-sm:700px;
--breakpoint-md:900px;
--breakpoint-lg:1000px;
--breakpoint-big:1300px;
--padding-10: 100px;
--padding-c-50: 50px;
--padding-wrapper:10px;
--margin-20:20px;
--height-1:100px;
--width-1:100px;
--size-100:100px
}